{{ define "main" }}
<!-- End of Header -->
<div class="item-page">
    <meta itemprop="inLanguage" content="en-GB"/>
    <div itemprop="articleBody">
        <div>
            <div>
                <!-- "3"  ARTICLE INFO -->
                <div class="item-page">
                    <meta itemprop="inLanguage" content="en-GB">
                    <div itemprop="articleBody">
                        <div class="siteContentPanel100w">
                            <div class="container-fluid header1 minify-header header3 tc fileformatproducheader">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h1>Developer's Collection of Open Source File Format APIs</h1>
                                            <h4>Read, Write, Convert & Manipulate files from Microsoft Office,
                                                OpenOffice, PDF, 3D, CAD, and many other popular categories.</h4>
                                        </div>
                                        <!--/col6 --></div>
                                    <!--/row --></div>
                                <!--/container -->
                            </div>
                            <div class="container-fluid bg-white liveimage">
                                <div class="row">
                                    <div class="container tl product-bar">
                                        <div class="clearfix"></div>
                                        <div class="col-lg-9">
                                            <div class="col-lg-12  fam-product-section "></div>
                                            <div class="col-lg-9">
                                                <h2><a id="wordprocessapisproductfamily" class="anchor"
                                                       name="wordprocessapisproductfamily"></a> <a
                                                        href="/word-processing">Word Processing File Format APIs</a>
                                                    <em>Allow programmers to load, create and modify Microsoft Word
                                                        files from within Java & PHP applications.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn "
                                                                              href="/word-processing/net">Free Word
                                                Processing APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                                         href="/word-processing/java">Free
                                                Word Processing APIs for<em> Java</em></a> <a class="cloudbg btn "
                                                                                              href="/word-processing/php">Free
                                                Word Processing APIs for<em> PHP</em></a> <a class="cloudbg btn "
                                                                                             href="/word-processing/javascript">Free
                                                Word Processing APIs for<em> JavaScript</em></a> <a class="cloudbg btn "
                                                                                                    href="/word-processing/python">Free
                                                Word Processing APIs for<em> Python</em></a> <a class="cloudbg btn "
                                                                                                href="/word-processing/cpp">Free
                                                Word Processing APIs for<em> C++</em></a><a class="cloudbg btn "
                                                                                            href="/word-processing/go">Free
                                                Word Processing APIs for<em> Go</em></a><a class="cloudbg btn "
                                                                                           href="/word-processing/ruby">Free
                                                Word Processing APIs for<em> Ruby</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="spreadsheetapisproductfamily" class="anchor"
                                                       name="spreadsheetapisproductfamily"></a> <a href="/spreadsheet">Spreadsheet
                                                    File Format APIs</a> <em>Load, create and modify Microsoft Excel
                                                    files with the help of Java & PHP based open source libraries.</em>
                                                </h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn "
                                                                              href="/spreadsheet/net">Free Spreadsheet
                                                APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                              href="/spreadsheet/java">Free Spreadsheet
                                                APIs for<em> Java</em></a> <a class="cloudbg btn "
                                                                              href="/spreadsheet/php">Free Spreadsheet
                                                APIs for<em> PHP</em></a> <a class="cloudbg btn "
                                                                             href="/spreadsheet/javascript">Free
                                                Spreadsheet APIs for<em> JavaScript</em></a> <a class="cloudbg btn "
                                                                                                href="/spreadsheet/python">Free
                                                Spreadsheet APIs for<em> Python</em></a><a class="cloudbg btn "
                                                                                           href="/spreadsheet/cpp">Free
                                                Spreadsheet APIs for<em> C++</em></a><a class="cloudbg btn "
                                                                                        href="/spreadsheet/go">Free
                                                Spreadsheet APIs for<em> Go</em></a><a class="cloudbg btn "
                                                                                       href="/spreadsheet/ruby">Free
                                                Spreadsheet APIs for<em> Ruby</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="presentationapisproductfamily" class="anchor"
                                                       name="presentationapisproductfamily"></a> <a
                                                        href="/presentation">Presentation File Format APIs</a> <em>Open-source
                                                    libraries to load, create and modify Microsoft PowerPoint files
                                                    using Java and PHP programming languages.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn "
                                                                              href="/presentation/net">Free Presentation
                                                APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                              href="/presentation/java">Free
                                                Presentation APIs for<em> Java</em></a> <a class="cloudbg btn "
                                                                                           href="/presentation/php">Free
                                                Presentation APIs for<em> PHP</em></a> <a class="cloudbg btn "
                                                                                          href="/presentation/javascript">Free
                                                Presentation APIs for<em> JavaScript</em></a> <a class="cloudbg btn "
                                                                                                 href="/presentation/python">Free
                                                Presentation APIs for<em> Python</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="pdfapisproductfamily" class="anchor"
                                                       name="pdfapisproductfamily"></a> <a href="/pdf">PDF File Format
                                                    APIs</a> <em> Allow developers to read, create or edit PDF files
                                                    using Java programming language.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/pdf/net">Free
                                                PDF APIs for<em> .NET</em></a> <a class="cloudbg btn " href="/pdf/java">Free
                                                PDF APIs for<em> Java</em></a> <a class="cloudbg btn " href="/pdf/cpp">Free
                                                PDF APIs for<em> C++</em></a> <a class="cloudbg btn " href="/pdf/php">Free
                                                PDF APIs for<em> PHP</em></a><a class="cloudbg btn "
                                                                                href="/pdf/javascript">Free PDF APIs for<em>
                                                JavaScript</em></a><a class="cloudbg btn " href="/pdf/python">Free PDF
                                                APIs for<em> Python</em></a> <a class="cloudbg btn " href="/pdf/ruby">Free
                                                PDF APIs for<em> Ruby</em></a> <a class="cloudbg btn " href="/pdf/go">Free
                                                PDF APIs for<em> Go</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="emailapisproductfamily" class="anchor"
                                                       name="emailapisproductfamily"></a> <a href="/email">Email File
                                                    Format APIs</a> <em>Load & process Microsoft Outlook files using
                                                    .NET & Java-based open source libraries.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/email/net">Free
                                                Email APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                                    href="/email/java">Free Email APIs
                                                for<em> Java</em> </a> <a class="cloudbg btn " href="/email/cpp">Free
                                                Email APIs for<em> C++</em> </a><a class="cloudbg btn "
                                                                                   href="/email/python">Free Email APIs
                                                for<em> Python </em></a><a class="cloudbg btn " href="/email/php">Free
                                                Email APIs for<em> PHP </em></a><a class="cloudbg btn "
                                                                                   href="/email/go">Free Email APIs
                                                for<em> Go </em></a><a class="cloudbg btn " href="/email/ruby">Free
                                                Email APIs for<em> Ruby </em></a><a class="cloudbg btn "
                                                                                    href="/email/swift">Free Email APIs
                                                for<em> Swift </em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="diagramapisproductfamily" class="anchor"
                                                       name="diagramapisproductfamily"></a> <a href="/diagram">Diagram
                                                    File Format APIs</a> <em>Load, create or modify Microsoft Visio
                                                    files from within Java and PHP applications.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/diagram/net">Free
                                                Diagram APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                                      href="/diagram/java">Free Diagram
                                                APIs for<em> Java</em></a> <a class="cloudbg btn "
                                                                              href="/diagram/javascript">Free Diagram
                                                APIs for<em> JavaScript</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="3dapisproductfamily" class="anchor"
                                                       name="3dapisproductfamily"></a> <a href="/3d">3D File Format
                                                    APIs</a> <em> Read, write, edit, & process 3D files using C++-based
                                                    open source libraries.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/3d/net">Free
                                                3D APIs for<em> .NET</em></a><a class="cloudbg btn " href="/3d/java">Free
                                                3D APIs for<em> Java</em></a> <a class="cloudbg btn " href="/3d/cpp">Free
                                                3D APIs for<em> C++</em></a><a class="cloudbg btn "
                                                                               href="/3d/javascript">Free 3D APIs
                                                for<em> JavaScript</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="compressionapisproductfamily" class="anchor"
                                                       name="compressionapisproductfamily"></a> <a href="/compression">Compression
                                                    File Format APIs</a> <em> Open source .NET library for working with
                                                    popular compression file formats like RAR, 7ZIP, ZIP, TAR &
                                                    more.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn "
                                                                              href="/compression/net">Free Compression
                                                APIs for<em> .NET</em></a> <a class="cloudbg btn "
                                                                              href="/compression/java">Free Compression
                                                APIs for<em> Java</em></a> <a class="cloudbg btn "
                                                                              href="/compression/c">Free Compression
                                                APIs for<em> C</em></a> <a class="cloudbg btn " href="/compression/php">Free
                                                Compression APIs for<em> PHP</em></a> <a class="cloudbg btn "
                                                                                         href="/compression/javascript">Free
                                                Compression APIs for<em> JavaScript</em></a><a class="cloudbg btn "
                                                                                               href="/compression/go">Free
                                                Compression APIs for<em> Go</em></a><a class="cloudbg btn "
                                                                                       href="/compression/swift">Free
                                                Compression APIs for<em> Swift</em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="imageprocessingapisproductfamily" class="anchor"
                                                       name="imageprocessingapisproductfamily"></a> <a href="/image">Image
                                                    Processing File Format APIs</a> <em> Open source image processing
                                                    libraries for working with popular imaging file formats like PNG,
                                                    JPEG, BMP, TIFF & more.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/image/net">Free
                                                Image APIs for<em> .NET </em></a><a class="cloudbg btn "
                                                                                    href="/image/java">Free Image APIs
                                                for<em> Java </em></a><a class="cloudbg btn " href="/image/c">Free Image
                                                APIs for<em> C </em></a><a class="cloudbg btn " href="/image/cpp">Free
                                                Image APIs for<em> C++ </em></a><a class="cloudbg btn "
                                                                                   href="/image/php">Free Image APIs for<em>
                                                PHP</em></a><a class="cloudbg btn " href="/image/python">Free Image APIs
                                                for<em> Python </em></a><a class="cloudbg btn "
                                                                           href="/image/javascript">Free Image APIs
                                                for<em> JavaScript </em></a><a class="cloudbg btn " href="/image/go">Free
                                                Image APIs for<em> Go </em></a><a class="cloudbg btn "
                                                                                  href="/image/swift">Free Image APIs
                                                for<em> Swift </em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="videoapisproductfamily" class="anchor"
                                                       name="videoapisproductfamily"></a> <a href="/video">Video File
                                                    Format APIs</a> <em> Open source video file format APIs for working
                                                    with popular video file formats like MP4, WAV, AAC, MPP & more.</em>
                                                </h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/video/net">Free
                                                Video APIs for<em> .NET </em></a><a class="cloudbg btn "
                                                                                    href="/video/cpp">Free Video APIs
                                                for<em> C++ </em></a></div>
                                            <div class="brdr-spacer"></div>
                                            <div class="col-lg-9">
                                                <h2><a id="audioapisproductfamily" class="anchor"
                                                       name="audioapisproductfamily"></a> <a href="/audio">Audio File
                                                    Format APIs</a> <em> Open source audio file format APIs for working
                                                    with popular audio file formats like MP3, WAW, AIFF, WMA &
                                                    more.</em></h2>
                                            </div>
                                            <div class="col-lg-12 pf-urls"><a class="cloudbg btn " href="/audio/net">Free
                                                Audio APIs for<em> .NET </em></a><a class="cloudbg btn "
                                                                                    href="/audio/cpp">Free Audio APIs
                                                for<em> C++ </em></a> <a class="cloudbg btn " href="/audio/python">Free
                                                Audio APIs for<em> Python </em></a><a class="cloudbg btn "
                                                                                      href="/audio/javascript">Free
                                                Audio APIs for<em> JavaScript </em></a><a class="cloudbg btn "
                                                                                          href="/audio/go">Free Audio
                                                APIs for<em> GO </em></a></div>
                                        </div>
                                        <div class="col-lg-3 rhs-menu mt-30px profuctfamilyrhs">
                                            <div class="rhs-box ">
                                                <div id="sticky1" class="stickytopheight"></div>
                                                <div class="rhs-section api-link">
                                                    <h3>Open Source File Format APIs</h3>
                                                    <a href="#wordprocessapisproductfamily"> Word Processing File Format
                                                        APIs</a> <a href="#spreadsheetapisproductfamily"> Spreadsheet
                                                    File Format APIs</a> <a href="#presentationapisproductfamily">
                                                    Presentation File Format APIs</a> <a href="#pdfapisproductfamily">
                                                    PDF File Format APIs</a> <a href="#emailapisproductfamily"> Email
                                                    File Format APIs</a> <a href="#diagramapisproductfamily"> Diagram
                                                    File Format APIs</a> <a href="#3dapisproductfamily"> 3D File Format
                                                    APIs</a> <a href="#compressionapisproductfamily"> Compression File
                                                    Format APIs</a> <a href="#imageprocessingapisproductfamily"> Image
                                                    File Format APIs</a> <a href="#videoapisproductfamily"> Video File
                                                    Format APIs</a> <a href="#audioapisproductfamily"> Audio File Format
                                                    APIs</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="spacer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Articles Anywhere --><!--host: products.fileformat.com-->
            </div>
        </div>
    </div>
</div>
{{ end }}
